* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container,
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  color: #E5E7EB;
}


img {
  width: 500px;
  height: auto;
}
